#mainStage {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.loginButtons {
  width: 61px;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 20;
}

canvas {
  background: url('http://s13.postimg.org/y3sqbchiv/sumooooo.png');
}

body {
  background-image: url('/resources/bg.jpg');
  background-repeat: 'repeat';
  background-size: 150px;
}